@import "tailwindcss";

@keyframes moveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.moving-bg {
  background: linear-gradient(-45deg, #bfb6ad, #b1a69b, #dcd8d4, #a09281);
  background-size: 400% 400%;
  animation: moveGradient 15s ease infinite;
}

.hero-section {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-top: 80px;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 10;
}