.hamburger-line {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px 0;
  background-color: white;
  border-radius: 2px;
  transition: all 0.3s ease;
}

#hamburger.active .hamburger-line:nth-child(1) {
  transform: rotate(45deg) translate(10px, 10px);
}

#hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

#hamburger.active .hamburger-line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -7px);
}

.nav-menu {
  position: fixed;
  top: 90px;
  right: -250px;
  width: 150px;
  height: auto;
  background: rgba(15, 23, 42, 0.98);
  padding: 20px;
  overflow-y: auto;
  transition: right 0.3s ease;
  z-index: 40;
}

.nav-menu.active {
  right: 0;
  display: block;
}

/*  @media (min-width: 768px) {
  .nav-menu {
    position: static;
    background: none;
    padding: 0;
    max-height: none;
    display: none
  } 
} */