---
import "../styles/hamburger.css";
---

<script>
  // Toggle navigation menu on hamburger click
  document.addEventListener("DOMContentLoaded", () => {
    const hamburger = document.getElementById("hamburger");
    const navMenu = document.getElementById("nav-menu");

    if (!hamburger || !navMenu) return;
    hamburger.addEventListener("click", () => {
      hamburger.classList.toggle("active");
      navMenu.classList.toggle("active");
    });
  });
</script>

<header>
  <div class="text-white py-4">
    <div class="container mx-auto px-4 py-2 flex justify-between items-center">
      <img
        src="/zaras-halsofokus-logo.png"
        alt="zaras-halsofokus-logo"
        class="w-40 h-16 animate-fade-in-up"
      />

      <!-- Hamburger Menu Button -->
      <button id="hamburger" class="flex flex-col cursor-pointer">
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
        <span class="hamburger-line"></span>
      </button>

      <!-- Navigation Menu -->
      <nav id="nav-menu" class="nav-menu">
        <ul class="flex flex-col space-y-4">
          <li><a href="#home" class="hover:text-gray-400">Hem</a></li>
          <li><a href="#services" class="hover:text-gray-400">Tjänster</a></li>
          <li><a href="#about" class="hover:text-gray-400">Om oss</a></li>
          <li><a href="#contact" class="hover:text-gray-400">Kontakt</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>
