<main>
  <section class="hero-section">
    <div class="container mx-auto px-4 text-start hero-content">
      <div class="lg:flex lg:items-center lg:gap-8">
        <div class="lg:w-1/2">
          <h1
            class="text-2xl sm:text-4xl md:text-6xl font-bold mb-4 md:text-left"
          >
            <div class="flex justify-center lg:justify-start mb-2">
              Zaras Hälsofokus
            </div>
            <div
              class="flex justify-center lg:justify-start text-xs sm:text-base md:text-2xl"
            >
              LPG och Insculpt Stockholm
            </div>
          </h1>
          <p
            class="text-xs sm:text-base md:text-lg mb-8 max-w-2xl text-center lg:text-left"
          >
            Minska celluliter, förbättra hudens struktur och lindra
            muskelspänningar. <br />Personlig omsorg för ditt hälsa och
            välbefinnande.
          </p>
          <a
            href="https://www.bokadirekt.se/places/zaras-halsofokus-40836"
            class="block text-right mt-4 max-w-2xl lg:text-left"
          >
            <button
              class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 transition"
            >
              Boka Nu
            </button>
          </a>
        </div>
      </div>
    </div>
  </section>
</main>
