
<main>
  <section class="moving-bg hero-section">
    <div class="container mx-auto px-4 text-center">
      <h1 class="text-4xl font-bold mb-4">
        Zaras Hälsofokus – LPG Behandlingar i Stockholm
      </h1>
      <p class="text-lg mb-8">
        Välkommen till <strong>Zaras Hälsofokus</strong>, din specialist på <strong
          >LPG-behandlingar i Stockholm</strong
        >. Här kombineras avancerad teknik med personlig omsorg för att hjälpa
        dig uppnå både <strong>estetiska</strong> och <strong
          >hälsorelaterade mål</strong
        >. Våra behandlingar är utformade för att minska <strong
          >celluliter</strong
        >, förbättra <strong>lymfcirkulationen</strong>, och <strong
          >lindra muskelspänningar</strong
        >, samtidigt som de främjar din <strong>avslappning</strong> och ditt välmående.
        Besök oss på <strong>Rehnsgatan 24</strong> för en upplevelse som gör skillnad
        – boka din LPG-behandling idag!
      </p>
      <a
        href="https://www.bokadirekt.se/places/zaras-halsofokus-40836"
        class="bg-blue-500 text-white px-6 py-3 rounded-full hover:bg-blue-600 transition"
        >Boka din LPG-behandling</a
      >
    </div>
  </section>
</main>
