<main>
    <section id="insculpt" class="insculpt-section">
        <div class="container mx-auto px-4 text-center insculpt-content">
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-8">
            Vad är Insculpt?
        </h2>
        <p class="text-base sm:text-lg mb-8 max-w-2xl mx-auto">
            <strong>Insculpt</strong> är en banbrytande behandling som kombinerar
            högintensiv fokuserad elektromagnetisk energi (HIFEM) och radiofrekvens
            (RF) för att effektivt stärka muskler och minska fett. Denna innovativa
            metod stimulerar musklerna att kontrahera kraftigt, vilket leder till
            ökad muskelmassa och förbättrad kroppskontur. Insculpt är idealisk för
            dig som vill uppnå en mer tonad och definierad kropp utan kirurgi eller
            långa återhämtningstider. Välj oss på <a
            href="https://www.zarashalsofokus.com/"
            ><strong>Zaras Hälsofokus</strong></a
            > för en behandling som gör skillnad i din vardag.
        </p>
        <!-- Add your content here -->
        </div>
</main>