<main>
    <section id="lpg" class="lpg-section">
        <div class="container mx-auto px-4 text-center lpg-content">
        <h2 class="text-3xl sm:text-4xl md:text-5xl font-bold mb-8">
            Vad är LPG?
        </h2>
        <p class="text-base sm:text-lg mb-8 max-w-2xl mx-auto">
            <strong>LPG</strong> (Lipomassage) är en avancerad behandling som
            kombinerar bindvävsmassage och vakuumteknik för att förbättra både kropp
            och själ. Denna innovativa metod stimulerar huden och dess underliggande
            vävnader, vilket främjar blodcirkulationen, minskar svullnad och
            reducerar muskelspänningar. För de som söker estetiska resultat, såsom
            fastare hud eller minskade fettdepåer, ger LPG även tydliga och
            hållbara resultat. Välj oss på <a
            href="https://www.zarashalsofokus.com/"
            ><strong>Zaras Hälsofokus</strong></a
            > för en behandling som gör skillnad i din vardag.
        </p>
        <!-- Add your content here -->
        </div>
    </section>
</main>